      <hr>

			
		<footer>
			Developed and maintained by <a href="http://github.com/mikemackintosh"><code>@mikemackintosh</code></a> running on <a href="http://github.com/mikemackintosh/dTR-Gallery"><code>dTR-Gallery</code></a>
		</footer>
					
        </div>
        
        
			<script src="http://code.jquery.com/ui/1.8.17/jquery-ui.min.js"></script>
			
        <script>document.write('<script src="/assets/js/vendor/jquery.colorbox.js"><\/script>')</script>
        <script>document.write('<script src="/assets/js/vendor/jquery.dtrws.js"><\/script>')</script>
        <script>document.write('<script src="/assets/js/vendor/jquery.sort.js"><\/script>')</script>
        <script>document.write('<script src="/assets/js/holder.js"><\/script>')</script>

		<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
		<script src="/assets/js/vendor/jquery.ui.widget.js"></script>
        
        <!-- iFrame Transport Support -->
        <script>document.write('<script src="/assets/js/jquery.iframe-transport.js"><\/script>')</script>
 		
 		<!-- Added CORS support for non xdr-transport -->
 		<!--[if gte IE 8]><script src="/assets/js/cors/jquery.xdr-transport.js"></script><![endif]-->
               
        <script src="/assets/js/vendor/bootstrap.js"></script>

        <script src="/assets/js/plugins.js"></script>
		<script>
			$(document).ready(function(e) {
			
				//$(window).dtrws("UX-SDASDASD");
				
				$(".gallery").colorbox({rel:'group2', transition:"fade"});
				
				//$( ".thumbnail img" ).imgr({ height: 260, width: 180 });
				
			});
		</script>    
		
	</body>		
</html>