      <hr>

			
		<footer>
			Developed and maintained by <a href="http://github.com/mikemackintosh"><code>@mikemackintosh</code></a> running on <a href="http://github.com/mikemackintosh/dTR-Gallery"><code>dTR-Gallery</code></a>
		</footer>
					
        </div>
        
        
			
        <script>document.write('<script src="/assets/js/vendor/jquery.colorbox.js"><\/script>')</script>
        <script>document.write('<script src="/assets/js/vendor/jquery.dtrws.js"><\/script>')</script>
        <script>document.write('<script src="/assets/js/vendor/jquery.sort.js"><\/script>')</script>
        <script src="/assets/js/vendor/bootstrap.js"></script>

        <script src="/assets/js/plugins.js"></script>
		<script>
			$(document).ready(function(e) {
			
				$(window).dtrws("UX-SDASDASD");
				
				$(".gallery").colorbox({rel:'group2', transition:"fade"});
				
				//$( ".thumbnail img" ).imgr({ height: 260, width: 180 });
				
			});
		</script>    
	</body>		
</html>