
			<div class="row">
				Developed and maintained by <a href="http://github.com/mikemackintosh"><code>@mikemackintosh</code></a> running on <a href="http://github.com/mikemackintosh/dTR-Gallery"><code>dTR-Gallery</code></a>
			</div>
					
        </div>
        
        <script>document.write('<script src="/assets/js/vendor/jquery.tipsy.js"><\/script>')</script>
        <script>document.write('<script src="/assets/js/vendor/jquery.knob.js"><\/script>')</script>
        <script src="/assets/js/vendor/bootstrap.min.js"></script>

        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/main.js"></script>	
		<script src="/assets/js/vendor/prettify.js"></script>
		<script>
			$(document).ready(function(e) {
				prettyPrint();
			});
		</script>    
	</body>		
</html>